p {
padding: 1px;
}




p {
margin: 10px;
}

p {
margin-top:4px;
margin-bottom:50px;
margin-right: 50px;
margin-left: 55px
}

.img-center {
    margin-left: 40%;
} 

h1 {
    text-align: center;
}

